BREVO_API_KEY=replace-me
TURNSTILE_SECRET_KEY=replace-me
TURNSTILE_SITE_KEY=0x4AAAAAADPM-GErWOrsbJ5V
BREVO_FROM_EMAIL=no-reply@crossleyscatering.co.uk
ENQUIRY_NOTIFICATION_TO=crossleyscatering@gmail.com
ENQUIRY_SITE_NAME="Crossleys Catering"
ENQUIRY_REPLY_TO_MODE=submitter
